$color-black: #151616;
$color-white: #FCFCFC;
$color-blue: #21388F;
$color-blue-dark: #02145A;
$color-gray-light: #E5E5E5;
$color-gray: #8E8E93;



// $color-green-light: #007A65;
// $color-green: #00654D;
// $color-green-dark: #014A37;
// $color-gray-dark: #727270;
// $color-red: #E31E25;
// $color-red-dark: #BC2222;
// $color-vinous: #9A231D;
// $color-yellow: #FBC469;
// $color-brown-light: #B47E36;
// $color-brown: #A86919;
