
.slider-news {
	padding: 20px 0 48px;
	background-color: rgba(158, 158, 158, 0.15);

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 8px 0px;
	}

	&__wrapper {
		padding: 16px;
		margin: 0 -16px;

		.swiper-slide {
			height: auto;
		}
	}

	&__more {
		margin: 8px 0px 0px 0px;
		text-align: right;
	}
}
.slider-news-control {
	display: flex;

	&__arrow {
		width: 35px;
		height: 35px;
		background-color: $color-blue;
		display: flex;
		justify-content:center;
		align-items: center;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:hover:not(.swiper-button-disabled) {
			box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
			background-color: $color-blue-dark;
		}

		i {
			color: $color-white;
		}

		&_next {
			margin: 0px 0px 0px 8px;
		}

		&.swiper-button-disabled {
			opacity: 0.5;
			cursor: default;
		}
	}
}
.slider-partners {
	padding: 56px 0;

	&__body {
		padding: 0 60px;
		position: relative;
		@media (max-width: 1600px) {
			padding: 0 40px;
		}
	}

	&__wrapper {

		.swiper-slide {
			height: auto;
		}
	}

	&__arrow {
		position: absolute;
		top: 50%;
		z-index: 2;
		transition: all 0.3s ease 0s;
		transform: translateY(-50%);

		i {
			font-size: 23px;
			color: $color-gray-light;
		}

		&_prev {
			left: 20px;
		}

		&_next {
			right: 20px;
		}

		&:hover {
			i {
				color: $color-blue;
			}
		}

		@media (max-width: 1600px) {
			&_prev {
				left: 10px;
			}

			&_next {
				right: 10px;
			}
		}
	}
}
.slider-partners-item {
	height: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;

	img {
		filter: grayscale(100%);
		transition: all 0.3s ease 0s;
	}

	&:hover {
		img {
			filter: grayscale(0%);
		}
	}
}
.swiper-slide-prev .slider-gallery__item,
.swiper-slide-next .slider-gallery__item {
	opacity: 0.2;
	transition: all 1s ease 0s;
}
.swiper-slide-prev .slider-gallery__item {
	transform: scale(0.9) translateX(50px);
}
.swiper-slide-next .slider-gallery__item {
	transform: scale(0.9) translateX(-50px);
}
.slider-arrow {
	height: 100%;
	width: 75px;
	display: flex;
	justify-content:center;
	align-items: center;
	position: absolute;
	top: 0;
	z-index: 5;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	@media (max-width: $md3+px) {
		display: none;
	}

	@media (max-width: $md2+px) {
		width: 65px;
	}

	i {
		font-size: 50px;
		color: $color-white;
	}

	&_prev {
		left: 0;
		&:hover {
			background-image: linear-gradient(-90deg,rgba(255,255,255, 0.001) 0,rgba(255, 255, 255, 0.5) 100%);
		}
	}

	&_next {
		right: 0;
		&:hover {
			background-image: linear-gradient(90deg,rgba(255,255,255, 0.001) 0,rgba(255, 255, 255, 0.5) 100%);
		}
	}
}
.swiper-pagination-bullets.swiper-pagination-horizontal.slider-dotts {
	text-align: center;
	position: absolute;
	bottom: 24px;
	z-index: 5;

	.swiper-pagination-bullet {
		margin: 0 6px;
		width: 12px;
		height: 12px;
		background-color: $color-gray-light;
		box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.39);
		transition: all 0.3s ease 0s;
		opacity: 1;

		&:hover {
			opacity: 0.5;
		}

		&-active {
			transform: scale(1.5);

			&:hover {
				opacity: 1;
				cursor: auto;
			}
		}
	}
}