.calendar-fosm-plan {

	&__body {
	}

	&__item {
		display: flex;
		align-items: center;

		i {
			font-size: 22px;
			color: $color-blue;
		}

		a {
			font-size: 18px;
			color: $color-black;

			&:hover {
				text-decoration: underline;
			}
		}

		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
}