@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "iconsfont";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1680;
$md1: 1100;
$md2: 992;
$md3: 768;
$md4: 576;

$mainColor: #151516;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
@import "variables";
body {
	background-color: #FCFCFC;
	color: $mainColor;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "ui";
@import "simple-calendar";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================;
@import "header";
@import "footer";
@import "slider";

.page {
	flex: 1 1 auto;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
.sports-clubs {
	padding: 24px 0 48px;

	&__body {
	}

	&__subtitle {
		margin: 0px 0px 40px 0px;
		font-size: 16px;
		color: $color-black;
	}
}
.item-sports-clubs {
	height: 100%;
	padding: 24px;
	min-height: 250px;
	color: $color-white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $color-blue;
	border: 1px solid $color-blue;
	position: relative;
	transition: all 0.3s ease 0s;

	@media (max-width: $md3+px) {
		min-height: 200px;
	}

	i {
		font-size: 28px;
		color: $color-white;
		position: absolute;
		top: 16px;
		right: 24px;
		transition: all 0.3s ease 0s;
	}

	&:hover {
		color: $color-white;

		@media (hover: hover) {
			background-color: $color-blue-dark;

			.item-sports-clubs__title {
				margin: 16px 0px 30px 0px;
				text-align: left;
			}

			.item-sports-clubs__info {
				display: block;
			}

			i {
				transform: translateX(5px);
			}
		}
	}

	&_white {
		color: $color-blue-dark;
		background-color: $color-white;

		i {
			color: $color-blue-dark;
		}

		&:hover {
			@media (hover: hover) {
				background-color: $color-white;
				color: $color-blue-dark;
			}
		}
	}

	&__title {
		font-size: 18px;
		text-align: center;
		font-weight: 600;
	}

	&__info {
		display: none;
	}

	&__text {
		font-size: 14px;

		&:not(:last-child) {
			margin: 0px 0px 6px 0px;
		}
	}
}
.sports-schools {
	padding: 70px 0px 30px;

	&__top {
		margin: 0px 0px 30px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $md2+px) {
			display: block;
		}
	}

	&__title {
		@media (max-width: $md2+px) {
			margin: 0px 0px 24px 0px;
		}
	}

	&__search {
		position: relative;

		i {
			color: $color-gray;
			font-size: 15px;
			position: absolute;
			top: 9px;
			left: 15px;
			transform: rotate(90deg);
		}

		input {
			width: 300px;
			padding: 7px 15px 7px 45px;
			border: 1px solid $color-gray;

			&:focus,
			&:hover {
				border-color: $color-blue;
				color: $color-black;
			}
		}
	}

	&__more {
		text-align: right;
	}
}
.sports-schools-wrapper {
	margin: 0px 0px 40px 0px;
	display: flex;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
}
.sports-schools-item {
	width: 140px;
	padding: 10px;
	font-size: 14px;
	color: $color-black;
	text-align: center;
	transition: all 0.3s ease 0s;

	&:hover {
		box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
		color: $color-blue;
	}

	&__icon {
		text-align: center;
		font-size: 84px;
	}
}
.contacts-map {
	height: 580px;

	iframe {
		width: 100%;
		height: 100%;
	}

	@media (max-width: $md2+px) {
		height: 450px;
	}

	@media (max-width: $md4+px) {
		height: 380px;
	}
}
.news-post {
	&__content {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;

		p {
			margin: 16px 0;
		}
	}

	&__date {
		color: $color-gray;
		margin: 16px 0;
	}

	&__photo {
		width: 100%;
		max-width: 920px;
		margin: 32px auto;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__slider {
		margin: 32px 0;
	}
}
.page-404 {
	&__body {
		display: flex;
		align-items: center;

		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__img {
		flex: 0 1 700px;

		@media (max-width: $md3+px) {
			margin: 0 auto;
			max-width: 400px;
		}
	}

	&__info {
		@include adaptiv-value(margin-left, 140, 0, 1);
		flex: 0 1 460px;

		h1,
		P {
			@include adaptiv-value(margin-bottom, 48, 24, 1);
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 50px 0px;
		}
	}

	&__button {
		display: inline-block;
		width: 284px;
		padding: 14px 0;
		font-size: 20px;
		color: $color-white;
		font-weight: 600;
		background-color: $color-blue;
		text-align: center;

		&:hover {
			color: $color-white;
			box-shadow: -20px 20px 29px -19px rgba(33, 56, 143, 0.6);
			transform: translate(3px, -3px);
		}
	}
}
.main-search {

	&__form {
		margin: 0px 0px 15px 0px;
		display: flex;
		align-items: center;

		@media (max-width: $md4+px) {
			display: block;
		}
	}

	&__input {
		flex: 1 1 auto;

		input {
			width: 100%;
			padding: 13px 10px;
			font-size: 20px;
			color: $color-black;
			background: #F2F2F2;
			border: 1px solid #D2D1D1;
			transition: all 0.3s ease 0s;

			&:focus,
			&:hover {
				border: 1px solid $color-blue;
			}
		}
	}

	&__button {
		@media (max-width: $md4+px) {
			margin: 12px 0px 0px 0px;
		}
	}

	&__num-result {
		color: $color-gray;
		font-weight: 500;
	}

	&__result {
		margin: 40px 0px 80px;
	}
}
.item-result {
	margin: 0px 0px 25px 0px;
	padding: 0px 0px 25px 0px;
	border-bottom: 1px solid $color-gray-light;

	&__title {
		margin: 0px 0px 15px 0px;

		a {
			font-size: 20px;
			font-weight: 500;
			color: $color-blue-dark;

			&:hover {
				color: $color-blue;
			}
		}
	}
}
