.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
	color: $color-blue;
	font-weight: 600;
	line-height: 1.35;
}
.h1_white,
.h2_white,
.h3_white,
.h4_white,
.h5_white,
.h6_white {
	color: $color-white;
}
.h1 {
	font-size: 30px;
}
.h2 {
	font-size: 26px;
}
.h3 {
	font-size: 22px;
}
.h4 {
	font-size: 20px;
}
.h5 {
	font-size: 18px;
}
.h6 {
	font-size: 16px;
}
.logo {
   display: flex;
   align-items: center;

   &__name {
		width: 100%;
      max-width: 440px;
      margin: 0px 0px 0px 32px;
      font-size: 20px;
      color: $color-white;
      text-transform: uppercase;
   }
}
.main-title {
	font-size: 32px;
	color: $color-blue;
	font-weight: 600;
}
.link-more {
	color: $color-black;
	text-decoration: underline;

	&:hover {
		color: $color-black;
		opacity: 0.5;
	}
}
.breadcrumb {
	padding: 40px 0 20px;
	margin: 0;
}
.breadcrumb-item {
	a {
		font-weight: 500;
		color: $color-gray;

		&:hover {
			text-decoration: underline;
		}
	}

	&.active {
		color: $color-gray;
	}
}
.breadcrumb-item+.breadcrumb-item::before {
	content: var(--bs-breadcrumb-divider, "—");
}
.sidebar {

	&__nav {
		background-color: #EFEFEF;
		padding: 32px;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		color: $color-black;
	}

	&__list {
		padding-left: 24px;
		margin-bottom: 0;

		li:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}

	&__link {
		font-size: 18px;
		color: $color-black;
		font-weight: 500;

		&.active {
			color: $color-blue;
			font-weight: 700;
			pointer-events: none;
		}

		&:hover {
			color: $color-blue;
		}
	}

	&__banner {
		margin: 24px 0px 0px 0px;
	}
}

.employees {
	margin: 0px 0px 64px 0px;	
}
.item-employee {
	border: 2px solid #DCDCDC;
	display: flex;
	margin: 0px 0px 32px 0px;

	&:last-child {
		margin: 0px 0px 0px 0px;
	}

	@media (max-width: 700px) {
		display: block;
		&__photo {
			text-align: center;
		}
	}

	&__body {
		padding: 24px;
		background-color: $color-white;
	}

	&__position {
		color: $color-black;
	}
}
.item-employee-info {

	&__row {
		margin: 0px 0px 24px 0px;
		font-weight: 500;
		color: $color-black;

		i {
			position: relative;
			transform: translateY(-3px);
			font-size: 24px;
		}

		a {
			font-weight: 500;
			color: $color-black;

			&:hover {
				color: $color-blue;
			}
		}

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}